.center{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    display:block;
}
.flash {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.flash-success {
    background-color: lightgreen;
}
.flash-error {
    background-color: darkred;
}
.span{
    margin-top: 7%;
    height: 2em;
}
.img{
    width: 275px;
    height: 275px;
    border: 3px solid black;
    object-fit: contain;
}
