{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %}Accueil - SortiesENI{% endblock %}

{% block site %}<a class="navbar-brand" href="#">SortiesENI</a>{% endblock %}


{% block main %}
    <p>Date du jour : {{ "now"|date("m/d/Y") }}</p><br>
    <p>Participant : {{ app.user.username }}</p><br>
    
{% endblock %}