<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Titre de base{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                {% block site %}<a class="navbar-brand" href="/SortiesENI/public/index">SortiesENI</a>{% endblock %}
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/SortiesENI/public/index">Accueil</a></li>
                {% block Buttons %}
                    <li><a href="#">Villes</a></li>
                    <li><a href="#">Sites</a></li>
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block Logins %}
                    <li><a href="/SortiesENI/public/register"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
                    <li><a href="/SortiesENI/public/login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                {% endblock %}
            </ul>
        </div>
    </nav>
    {% block main %}{% endblock %}
    <footer {% block footerClass %}{% endblock %}>
        <p>ENI école 2021</p>
    </footer>
    </body>
</html>

